.footer {
    display: flex;
    padding: 12rem 20rem;
    justify-content: space-between;
    align-items: center;

    @media all and (max-width: $screen_phablet-large) {
        padding: 12rem 12rem;
    }

    @media all and (max-width: $screen_phablet-big) {
        padding: 12rem 6rem;
    }

    @media all and (max-width: $screen_phablet) {
        flex-direction: column;
        padding: 12.6rem 3rem;
    }

    &__nav {
        list-style: none;
        padding: 0;

        @media all and (max-width: $screen_phablet) {
            margin-bottom: 5.5rem;
        }
    }

    &__img {
        @media all and (max-width: $screen_phablet) {
            margin-bottom: 5.5rem;
            width: 35.8rem;
            height: 24.7rem;
        }

        @media all and (max-width: $screen_phone) {
            max-width: 30rem;
            width: 100%;
        }
        
    }

    &__nav-title {
        font-weight: 700;
        font-size: 2.2rem;
        line-height: 3.3rem;
        margin-bottom: 2.5rem;
    }

    &__nav-item {
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 2.7rem;
        
        
        &:not(:last-child) {
            margin-bottom: 1.6rem;
        }
    }
}