$white: #FFFFFF;
$blue: #38A3F1;
$red: #EF2779;
$dark: #252B42;
$gray: #E8E8E8;
$darkgrey: #DEDEDE;
$black: #252B42;

$screen_phablet: 1000px;
$screen_phablet-big: 1150px;
$screen_phablet-large: 1300px;
$screen_phablet-small: 750px;
$screen_phablet-regular: 800px;
$screen_desktop-small: 1200px;
$screen_phone: 400px;
$screen_phone-small: 350px;
$screen_phone-medium: 550px;
$screen_phone-big: 600px;
$screen_phone-large: 700px;
$screen_phone-bigger: 650px;


